%h2 会員情報を入力
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :ニックネーム（必須）
    %br/
    = f.text_field :name
  .field
    = f.label :メールアドレス（必須）
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :パスワード（必須）
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :確認用パスワード（必須）
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    = f.label :お名前（全角）（必須）
    %br/
    = f.text_field :lastname, autocomplete: "new-password"
    = f.text_field :firstname, autocomplete: "new-password"
  .field
    = f.label :お名前（カナ）（必須）
    %br/
    = f.text_field :lastname_kana, autocomplete: "new-password"
    = f.text_field :firstname_kana, autocomplete: "new-password"
  .field
    = f.label :生年月日（必須）
    %br/
    = f.date_select :birth_day, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1), autocomplete: "new-password"
  .field
    = f.label :携帯電話の番号
    %br/
    = f.text_field :tel_num, autocomplete: "new-password"
  .field
    = f.label :送付先氏名（必須）
    %br/
    = f.text_field :send_lastname, autocomplete: "new-password"
    = f.text_field :send_firstname, autocomplete: "new-password"
  .field
    = f.label :送付先氏名（カナ）（必須）
    %br/
    = f.text_field :send_lastname_kana, autocomplete: "new-password"
    = f.text_field :send_firstname_kana, autocomplete: "new-password"
  .field
    = f.label :郵便番号（必須）
    %br/
    = f.text_field :post_num
  .field
    = f.label :都道府県（必須）
    %br/
    = f.text_field :prefectures
  .field
    = f.label :市区町村（必須）
    %br/
    = f.text_field :city
  .field
    = f.label :番地（必須）
    %br/
    = f.text_field :address
  .field
    = f.label :マンション名やビル名（必須）部屋番号（任意）
    %br/
    = f.text_field :address_2nd
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
