.Footer
  %ul.Footer__contents
    %li.Footer__contents-content
      %h2.Footer__contents-subtitle FURIMAについて
      %ul.Footer__contents-ul

        %li.Footer__contents-li
          = link_to '会社概要(運営会社)', root_path ,class: "Footer＿contents-a"
        %li.Footer__contents-li
          = link_to 'プライバシーボリシー', root_path ,class: "Footer＿contents-a"
        %li.Footer__contents-li
          = link_to 'FURIMA利用規約', root_path ,class: "Footer＿contents-a"
        %li.Footer__contents-li
          = link_to 'ポイントに関する特約', root_path ,class: "Footer＿contents-a"
        
    %li.Footer__contents-content
      %h2.Footer__contents-subtitle FURIMAを見る 
      %ul.Footer__contents-ul

        %li.Footer__contents-li
          = link_to 'カテゴリー一覧', root_path ,class: "Footer＿contents-a"
        %li.Footer__contents-li
          = link_to 'ブランド一覧', root_path ,class: "Footer＿contents-a"
       

    %li.Footer__contents-content
      %h2.Footer__contents-subtitle ヘルプ&ガイド 
      %ul.Footer__contents-ul

        %li.Footer__contents-li
          = link_to 'FURIMAガイド', root_path ,class: "Footer＿contents-a"
        %li.Footer__contents-li
          = link_to 'FURIMAロゴ利用ガイドライン', root_path ,class: "Footer＿contents-a"
        %li.Footer__contents-li
          = link_to 'お知らせ', root_path ,class: "Footer＿contents-a"
        
  = link_to root_path, class: "Footer__logo" do
    = image_tag("logo-white.png", alt: "logo", class: "Footer__logo-image")
  %p.Footer__logo-text @ FURIMA