.putup-item-top
  = link_to "#" do
    = image_tag "logo.png", size: "185x49"
.putup-item-middle
  = form_for @item do |f|
    .putup-item-middle__content
      .putup-item-middle__content__index
        .putup-item-middle__content__index__title
          出品画像
        .putup-item-middle__content__index__essential
          必須
      .putup-item-middle__content__comment
        画像をアップロードできます
      .PhotoBox
        %label{class: "PhotoBox__Item-image"}
          = icon('fa', 'camera')
          = f.fields_for :item_images do |i|
            = i.file_field :image, class: "PhotoBox__Item-File"
            %span クリックしてファイルをアップロード
    .putup-item-middle__content
      .putup-item-middle__content__index
        .putup-item-middle__content__index__title
          商品名
        .putup-item-middle__content__index__essential
          必須
      =f.text_field :name, class: "putup-item-middle__content__item-name", placeholder: "40文字まで"
    .putup-item-middle__content
      .putup-item-middle__content__index
        .putup-item-middle__content__index__title
          商品の説明
        .putup-item-middle__content__index__essential
          必須
      =f.text_area :text, class: "putup-item-middle__content__item-description", placeholder: "商品の説明（必須 1,000文字以内）", rows: "7"
    -# .putup-item-middle__content
    -#   .putup-item-middle__content__index
    -#     .putup-item-middle__content__index__title
    -#       カテゴリー
    -#     .putup-item-middle__content__index__essential
    -#       必須
    -#   %select#category.select{name: "category"}
    -#     %option{selected: "selected", value: "select"} 選択してください
    -#     %option{value: "ladies"} レディース
    -#     %option{value: "mens"} メンズ
    -#     %option{value: "baby"} ベビー・キッズ
    -#     %option{value: "interiors"} インテリア・住まい・小物
    -#     %option{value: "books"} 本・音楽・ゲーム
    -#     %option{value: "toys"} おもちゃ・ホビー・グッズ
    -#     %option{value: "cosmetics"} コスメ・香水・美容
    -#     %option{value: "electronics"} 家電・スマホ・カメラ
    -#     %option{value: "sports"} スポーツ・レジャー
    -#     %option{value: "handmade"} ハンドメイド
    -#     %option{value: "tickets"} チケット
    -#     %option{value: "cars"} 自動車・オートバイ
    -#     %option{value: "others"} その他
    -# .putup-item-middle__content
    -#   .putup-item-middle__content__index
    -#     .putup-item-middle__content__index__title
    -#       ブランド
    -#     .putup-item-middle__content__index__essential
    -#       必須
    -#   %input.putup-item-middle__content__item-brand{placeholder: "例) シャネル", type: "text"}
    -# .putup-item-middle__content
    -#   .putup-item-middle__content__index
    -#     .putup-item-middle__content__index__title
    -#       商品の状態
    -#     .putup-item-middle__content__index__essential
    -#       必須
    -#   %select#state.select{name: "state"}
    -#     %option{selected: "selected", value: "select"} 選択してください
    -#     %option{value: "state1"} 新品、未使用
    -#     %option{value: "state2"} 未使用に近い
    -#     %option{value: "state3"} 目立った傷や汚れなし
    -#     %option{value: "state4"} やや傷や汚れあり
    -#     %option{value: "state5"} 傷や汚れあり
    -#     %option{value: "state6"} 全体的に状態が悪い
    -# .putup-item-middle__content
    -#   .putup-item-middle__content__index
    -#     .putup-item-middle__content__index__title
    -#       配送料の負担
    -#     .putup-item-middle__content__index__essential
    -#       必須
    -#   %select#fee.select{name: "fee"}
    -#     %option{selected: "selected", value: "select"} 選択してください
    -#     %option{value: "fee1"} 送料込み(出品者負担)
    -#     %option{value: "fee2"} 着払い(購入者負担)
    .putup-item-middle__content
      .putup-item-middle__content__index
        .putup-item-middle__content__index__title
          発送元の地域
        .putup-item-middle__content__index__essential
          必須
      = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "選択してください"}, {class: "select"}
    -# .putup-item-middle__content
    -#   .putup-item-middle__content__index
    -#     .putup-item-middle__content__index__title
    -#       発送までの日数
    -#     .putup-item-middle__content__index__essential
    -#       必須
    -#   %select#day.select{name: "day"}
    -#     %option{selected: "selected", value: "select"} 選択してください
    -#     %option{value: "day1"} 1〜2日で発送
    -#     %option{value: "day2"} 2〜3日で発送
    -#     %option{value: "day3"} 4〜7日で発送
    -# .CalcField
    -#   .CalcField__index
    -#     .CalcField__index__Field
    -#       .CalcField__index__Field__title
    -#         販売価格
    -#       .CalcField__index__Field__essential
    -#         必須
    -#     %input.CalcField__Item-value{placeholder: "0", type: "number", name: "price", autocomplete: "off"}
    -#   .CalcField__Alart 300以上9999999以下で入力してください
    -#   .CalcField__Fee
    -#     .CalcField__Fee__Left 販売手数料（10%）
    -#     %span.CalcField__Fee__Right ー
    -#   %hr.Border
    -#   .CalcField__Fee
    -#     .CalcField__Fee__Left 販売利益
    -#     %span.CalcField__Fee__Right ー
    .putup-item-bottom
      .Button
        = f.submit "出品する", class: "Button__Form__Red"
        %button.Button__Form__Gray{type: "button"} 下書きに保存
        =link_to "#" do
          もどる

.ItemFooter
  .ItemFooter__Upper
    %ul.ItemFooter__Upper__Box
      %li.ItemFooter__Upper__Box__List
        =link_to "#" do
          プライバシーポリシー
      %li.ItemFooter__Upper__Box__List
        =link_to "#" do
          利用規約
      %li.ItemFooter__Upper__Box__List
        =link_to "#" do
          特定商品に関する表記
  .ItemFooter__Lower
    = link_to "#" do
      = image_tag "logo.png", size: "100x25"
    %h3 @FURIMA, Inc.
