.putup-item-top
  = link_to "#" do
    = image_tag "logo.png", size: "185x49"
.putup-item-middle
  = form_for @item do |f|
    = render 'layouts/error_messages', model: f.object
    .putup-item-middle__content
      .putup-item-middle__content__index
        .putup-item-middle__content__index__title
          出品画像
        .putup-item-middle__content__index__essential
          必須
      .putup-item-middle__content__comment
        画像をアップロードできます
      #image-box
        = f.fields_for :item_images do |i|
          .js-file_group{"data-index": "#{i.index}"}
            = i.file_field :image, class: 'js-file', required: true
            %br/
            %span.js-remove 削除
    .putup-item-middle__content
      .putup-item-middle__content__index
        .putup-item-middle__content__index__title
          商品名
        .putup-item-middle__content__index__essential
          必須
      =f.text_field :name, class: "putup-item-middle__content__item-name", placeholder: "40文字まで", maxlength: "40", required: true
    .putup-item-middle__content
      .putup-item-middle__content__index
        .putup-item-middle__content__index__title
          商品の説明
        .putup-item-middle__content__index__essential
          必須
      =f.text_area :text, class: "putup-item-middle__content__item-description", placeholder: "商品の説明（必須 1,000文字以内）", rows: "7", maxlength: "1000", required: true
    #category_box.putup-item-middle__content
      .putup-item-middle__content__index
        .putup-item-middle__content__index__title
          カテゴリー
        .putup-item-middle__content__index__essential
          必須
      .pulldown#parent_box
        = f.collection_select :category_id, @category_parent_array, :id, :name, {include_blank: "選択してください", selected: @item.category&.root_id}, class: "select parent_category_box", id: "parent_category", required: true
      .pulldown.item_input__body__category__children#children_box
      -#親カテゴリー選択によって子カテゴリー表示
      .pulldown.item_input__body__category__grandchildren#grandchildren_box
      -#子カテゴリー選択によって孫カテゴリー表示
    #size_box.putup-item-middle__content
      .putup-item-middle__content__index
        .putup-item-middle__content__index__title
          サイズ
        .putup-item-middle__content__index__essential
          任意
      .pulldown#size_selectbox
        =f.collection_select :size_id, Size.all, :id, :name, {prompt: "選択してください"}, {class: "select"}
    .putup-item-middle__content
      .putup-item-middle__content__index
        .putup-item-middle__content__index__title
          ブランド
        .putup-item-middle__content__index__essential
          任意
      =f.text_field :brand, class: "select", placeholder: "入力してください"
    .putup-item-middle__content
      .putup-item-middle__content__index
        .putup-item-middle__content__index__title
          商品の状態
        .putup-item-middle__content__index__essential
          必須
      = f.collection_select :condition_id, Condition.all, :id, :name, {prompt: "選択してください"}, {class: "select", required: true}
    .putup-item-middle__content
      .putup-item-middle__content__index
        .putup-item-middle__content__index__title
          配送料の負担
        .putup-item-middle__content__index__essential
          必須
      = f.collection_select :postage_payer_id, PostagePayer.all, :id, :name, {prompt: "選択してください"}, {class: "select", required: true}
    .putup-item-middle__content
      .putup-item-middle__content__index
        .putup-item-middle__content__index__title
          発送元の地域
        .putup-item-middle__content__index__essential
          必須
      = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "選択してください"}, {class: "select", required: true}
    .putup-item-middle__content
      .putup-item-middle__content__index
        .putup-item-middle__content__index__title
          発送までの日数
        .putup-item-middle__content__index__essential
          必須
      = f.collection_select :preparation_id, Preparation.all, :id, :name, {prompt: "選択してください"}, {class: "select", required: true}
    .CalcField
      .CalcField__index
        .CalcField__index__Field
          .CalcField__index__Field__title
            販売価格
          .CalcField__index__Field__essential
            必須
        = f.number_field :price, class: "CalcField__Item-value", placeholder: "0", autocomplete: "off", min: 300, max: 9999999, required: true
      .CalcField__Alart 300以上9999999以下で入力してください
      .CalcField__Fee
        .CalcField__Fee__Left 販売手数料（10%）
        %span#SalesFee.CalcField__Fee__Right ー
      %hr.Border
      .CalcField__Fee
        .CalcField__Fee__Left 販売利益
        %span#SalesProfit.CalcField__Fee__Right ー
    .putup-item-bottom
      .Button
        = f.hidden_field :seller_id, value: current_user.id
        = f.submit "出品する", class: "Button__Form__Red"
        %button.Button__Form__Gray{type: "button"} 下書きに保存
        =link_to root_path do
          もどる

.ItemFooter
  .ItemFooter__Upper
    %ul.ItemFooter__Upper__Box
      %li.ItemFooter__Upper__Box__List
        =link_to "#" do
          プライバシーポリシー
      %li.ItemFooter__Upper__Box__List
        =link_to "#" do
          利用規約
      %li.ItemFooter__Upper__Box__List
        =link_to "#" do
          特定商品に関する表記
  .ItemFooter__Lower
    = link_to root_path do
      = image_tag "logo.png", size: "100x25"
    %h3 @FURIMA, Inc.
