.Showtop
  .Showtop__Name
    %td
      .StoreName
        =link_to "#" do
          = @item.name
  .Showtop__Display
    .Showtop__Display__Image
      .Showtop__Display__Image__Main
        -if @item.item_images[0].present?
          = image_tag "#{@item.item_images[0].image}", alt: '写真', size: '300x300', class: 'mainImage'
        - else
      .Showtop__Display__Image__GroupLists
        .Showtop__Display__Image__GroupLists__List
          -if @item.item_images[0].present?
            = image_tag "#{@item.item_images[0].image}", alt: '写真', class: 'thumb'
          - else
        .Showtop__Display__Image__GroupLists__List
          -if @item.item_images[1].present?
            = image_tag "#{@item.item_images[1].image}", alt: '写真', class: 'thumb'
          - else
        .Showtop__Display__Image__GroupLists__List
          -if @item.item_images[2].present?
            = image_tag "#{@item.item_images[2].image}", alt: '写真', class: 'thumb'
          - else
        .Showtop__Display__Image__GroupLists__List
          -if @item.item_images[3].present?
            = image_tag "#{@item.item_images[3].image}", alt: '写真', class: 'thumb'
          - else
        .Showtop__Display__Image__GroupLists__List
          -if @item.item_images[4].present?
            = image_tag "#{@item.item_images[4].image}", alt: '写真', class: 'thumb'
          - else
    %table.Showtop__Display__ListBox
      %tbody
        %colgroup{:span => "1", :style => "width:120px; background-color:#FF9900;"}
        %col{:span => "1", :style => "width:200px; background-color:#FFCC00;"}/
        %tr.Showtop__Display__ListBox__List
          %th 出品者
          %td
            .StoreName
              =link_to "#" do
                = @it.user.nickname
            .GoodBtn
              .GoodBtn__Good
                =link_to "#" do
                  %i.fas.fa-smile
                %span 100
              .GoodBtn__Bad
                =link_to "#" do
                  %i.fas.fa-frown
                %span 100

        %tr.Showtop__Display__ListBox__List
          %th カテゴリー
          %td
            .CategoryName
              =link_to "#" do
                = @category.category.name

        %tr.Showtop__Display__ListBox__List
          %th ブランド
          %td
            .CategoryName
              =link_to "#" do
                = @category.brand

        %tr.Showtop__Display__ListBox__List
          %th 商品状態
          %td
            .CategoryName
              =link_to "#" do
                = @category.condition.name

        %tr.Showtop__Display__ListBox__List
          %th 配送料の負担
          %td
            .CategoryName
              =link_to "#" do
                = @category.postage_payer.name

        %tr.Showtop__Display__ListBox__List
          %th 配送方法
          %td
            .CategoryName
              =link_to "#" do
                = @category.shipping_method.name

        %tr.Showtop__Display__ListBox__List
          %th 配送元地域
          %td
            .CategoryName
              =link_to "#" do
                = @category.prefecture.name

        %tr.Showtop__Display__ListBox__List
          %th 発送日の目安
          %td
            .CategoryName
              =link_to "#" do
                = @category.preparation.name

  .Showtop__PriceField
    %span.Showtop__PriceField__Price
      ¥
      = @category.price.to_s(:delimited)
    %span.Showtop__PriceField__Tax (税込)
    %span.Showtop__PriceField__SendFee 送料込み
  .Showtop__Alert
    - if user_signed_in? && current_user.id == @item.user_id
      = link_to 'この商品を削除する', item_path, method: :delete, class: 'Item-Delete'
      = link_to 'この商品を編集する', edit_item_path, method: :get, class: 'Item-Delete'
    - else
      %btn
        =link_to confirmation_item_path(@item), class: 'Item-Purchase' do
          購入画面に進む
  .Showtop__Detail
  .Showtop__Footer

.MessageField
  .ShowMessage
    .ShowMessage__Caution
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %form{:action => "#", :method => "post"}
    %textarea{:cols => "40", :name => "kansou", :rows => "4"}
    %input{:type => "submit", :value => "コメントする"}/

.ShowIcon
  .ShowIcon__Box
    =link_to "#" do
      %i.fab.fa-facebook-square.fa-4x.fb-blue
    =link_to "#" do
      %i.fab.fa-twitter-square.fa-4x.tw-blue
    =link_to "#" do
      %i.fab.fa-line.fa-4x.line-green
    =link_to "#" do
      %i.fab.fa-pinterest-square.fa-4x.pinterest


.ShowBottom
  .ShowUser
    %h3.ShowUser__Title
      = @item.seller.nickname
      さんのその他の出品
    .ShowUser__ItemGroup
      - @otheritems.each do |item|
        .ShowUser__ItemGroup__ItemBox
          = link_to item_path(item.id), class: "Picup-item" do
            .ShowUser__ItemGroup__ItemBox__Image
              = image_tag item.item_images[0].image.to_s, size: "300x250"
            .ShowUser__ItemGroup__ItemBox__Details
              %h3.ShowUser__ItemGroup__Details__Title
                =item.name
              .ShowUser__ItemGroup__Details__Price
                %p 
                  =item.price.to_s(:delimited)
                  円 (税込)

:javascript
  $(function() {
    $('img.thumb').mouseover(function(){
    var selectedSrc = $(this).attr('src').replace(/^(.+)_thumb(\.gif|\.jpg|\.png+)$/, "$1"+"$2");
    
    $('img.mainImage').stop().fadeOut(50,
    function(){
    $('img.mainImage').attr('src', selectedSrc);
    $('img.mainImage').stop().fadeIn(200);
    }
    );
    $(this);
    });
    
    $('img.thumb').mouseout(function(){
    $(this).css({"border":""});
    });
  });