.Showtop
  .Showtop__Name
    %td
      .StoreName
        =link_to "#" do
          = @item.name
  .Showtop__Display
    .Showtop__Display__Image
      .Showtop__Display__Image__Main
        = image_tag @item.item_images.last.image.to_s, size: '300x300'
      .Showtop__Display__Image__GroupLists
        .Showtop__Display__Image__GroupLists__List
          = image_tag "131313.jpg", alt: "写真"
        .Showtop__Display__Image__GroupLists__List
          = image_tag "131313.jpg", alt: "写真"
        .Showtop__Display__Image__GroupLists__List
          = image_tag "131313.jpg", alt: "写真"
        .Showtop__Display__Image__GroupLists__List
          = image_tag "131313.jpg", alt: "写真"
        .Showtop__Display__Image__GroupLists__List
          = image_tag "131313.jpg", alt: "写真"
    %table.Showtop__Display__ListBox
      %tbody
        %colgroup{:span => "1", :style => "width:120px; background-color:#FF9900;"}
        %col{:span => "1", :style => "width:200px; background-color:#FFCC00;"}/
        %tr.Showtop__Display__ListBox__List
          %th 出品者
          %td
            .StoreName
              =link_to "#" do
                = @it.user.nickname
            .GoodBtn
              .GoodBtn__Good
                =link_to "#" do
                  %i.fas.fa-smile
                %span 100
              .GoodBtn__Bad
                =link_to "#" do
                  %i.fas.fa-frown
                %span 100

            
        %tr.Showtop__Display__ListBox__List
          %th カテゴリー
          %td
            .CategoryName
              =link_to "#" do
                = @category.category.name

        %tr.Showtop__Display__ListBox__List
          %th ブランド
          %td
            .CategoryName
              =link_to "#" do
                = @category.brand

        %tr.Showtop__Display__ListBox__List
          %th 商品状態
          %td
            .CategoryName
              =link_to "#" do
                = @category.condition_id

        %tr.Showtop__Display__ListBox__List
          %th 配送料の負担
          %td
            .CategoryName
              =link_to "#" do
                = @category.postage_payer_id

        %tr.Showtop__Display__ListBox__List
          %th 配送方法
          %td ゆうゆうメルカリ便

        %tr.Showtop__Display__ListBox__List
          %th 配送元地域
          %td
            .CategoryName
              =link_to "#" do
                = @category.prefecture_id

        %tr.Showtop__Display__ListBox__List
          %th 発送日の目安
          %td
            .CategoryName
              =link_to "#" do
                = @category.preparation_id

  .Showtop__PriceField
    %span.Showtop__PriceField__Price
      = @category.price
    %span.Showtop__PriceField__Tax (税込)
    %span.Showtop__PriceField__SendFee 送料込み
  .Showtop__Alert
    %btn
      =link_to "#" do
        購入画面に進む
  .Showtop__Detail
  .Showtop__Footer

.MessageField
  .ShowMessage
    .ShowMessage__Caution
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %form{:action => "#", :method => "post"}
    %textarea{:cols => "40", :name => "kansou", :rows => "4"}
    %input{:type => "submit", :value => "コメントする"}/

.ShowIcon
  .ShowIcon__Box
    =link_to "#" do
      %i.fab.fa-facebook-square.fa-4x.fb-blue
    =link_to "#" do
      %i.fab.fa-twitter-square.fa-4x.tw-blue
    =link_to "#" do
      %i.fab.fa-line.fa-4x.line-green
    =link_to "#" do
      %i.fab.fa-pinterest-square.fa-4x.pinterest


.ShowBottom
  .ShowUser
    %h3.ShowUser__Title
      =link_to "#" do
        靴下屋さんのその他の出品
    .ShowUser__ItemGroup
      .ShowUser__ItemGroup__ItemBox
        =link_to "#" do
          .ShowUser__ItemGroup__ItemBox__Image
            = image_tag "131313.jpg", alt: "写真"
          .ShowUser__ItemGroup__ItemBox__Details
            %h3.ShowUser__ItemGroup__Details__Title
              レディース 15足セット
            .ShowUser__ItemGroup__Details__Price
              %p ￥1,100
      .ShowUser__ItemGroup__ItemBox
        =link_to "#" do
          .ShowUser__ItemGroup__ItemBox__Image
            = image_tag "131313.jpg", alt: "写真"
          .ShowUser__ItemGroup__ItemBox__Details
            %h3.ShowUser__ItemGroup__Details__Title
              レディース 15足セット
            .ShowUser__ItemGroup__Details__Price
              %p ￥1,100

      .ShowUser__ItemGroup__ItemBox
        =link_to "#" do
          .ShowUser__ItemGroup__ItemBox__Image
            = image_tag "131313.jpg", alt: "写真"
          .ShowUser__ItemGroup__ItemBox__Details
            %h3.ShowUser__ItemGroup__Details__Title
              レディース 15足セット
            .ShowUser__ItemGroup__Details__Price
              %p ￥1,100

      .ShowUser__ItemGroup__ItemBox
        =link_to "#" do
          .ShowUser__ItemGroup__ItemBox__Image
            = image_tag "131313.jpg", alt: "写真"
          .ShowUser__ItemGroup__ItemBox__Details
            %h3.ShowUser__ItemGroup__Details__Title
              レディース 5足セット
            .ShowUser__ItemGroup__Details__Price
              %p ￥1,100

      .ShowUser__ItemGroup__ItemBox
        =link_to "#" do
          .ShowUser__ItemGroup__ItemBox__Image
            = image_tag "131313.jpg", alt: "写真"
          .ShowUser__ItemGroup__ItemBox__Details
            %h3.ShowUser__ItemGroup__Details__Title
              レディース 5足セット
            .ShowUser__ItemGroup__Details__Price
              %p ￥1,100

      .ShowUser__ItemGroup__ItemBox
        =link_to "#" do
          .ShowUser__ItemGroup__ItemBox__Image
            = image_tag "131313.jpg", alt: "写真"
          .ShowUser__ItemGroup__ItemBox__Details
            %h3.ShowUser__ItemGroup__Details__Title
              レディース 5足セット
            .ShowUser__ItemGroup__Details__Price
              %p ￥1,100

  .ShowUser
    %h3.ShowUser__Title
      =link_to "#" do
        靴下屋さんのその他の出品
    .ShowUser__ItemGroup
      .ShowUser__ItemGroup__ItemBox
        =link_to "#" do
          .ShowUser__ItemGroup__ItemBox__Image
            = image_tag "131313.jpg", alt: "写真"
          .ShowUser__ItemGroup__ItemBox__Details
            %h3.ShowUser__ItemGroup__Details__Title
              レディース 5足セット
            .ShowUser__ItemGroup__Details__Price
              %p ￥1,100
      .ShowUser__ItemGroup__ItemBox
        =link_to "#" do
          .ShowUser__ItemGroup__ItemBox__Image
            = image_tag "131313.jpg", alt: "写真"
          .ShowUser__ItemGroup__ItemBox__Details
            %h3.ShowUser__ItemGroup__Details__Title
              レディース 5足セット
            .ShowUser__ItemGroup__Details__Price
              %p ￥1,100

      .ShowUser__ItemGroup__ItemBox
        =link_to "#" do
          .ShowUser__ItemGroup__ItemBox__Image
            = image_tag "131313.jpg", alt: "写真"
          .ShowUser__ItemGroup__ItemBox__Details
            %h3.ShowUser__ItemGroup__Details__Title
              レディース 5足セット
            .ShowUser__ItemGroup__Details__Price
              %p ￥1,100

      .ShowUser__ItemGroup__ItemBox
        =link_to "#" do
          .ShowUser__ItemGroup__ItemBox__Image
            = image_tag "131313.jpg", alt: "写真"
          .ShowUser__ItemGroup__ItemBox__Details
            %h3.ShowUser__ItemGroup__Details__Title
              レディース 5足セット
            .ShowUser__ItemGroup__Details__Price
              %p ￥1,100

      .ShowUser__ItemGroup__ItemBox
        =link_to "#" do
          .ShowUser__ItemGroup__ItemBox__Image
            = image_tag "131313.jpg", alt: "写真"
          .ShowUser__ItemGroup__ItemBox__Details
            %h3.ShowUser__ItemGroup__Details__Title
              レディース 5足セット
            .ShowUser__ItemGroup__Details__Price
              %p ￥1,100

      .ShowUser__ItemGroup__ItemBox
        =link_to "#" do
          .ShowUser__ItemGroup__ItemBox__Image
            = image_tag "131313.jpg", alt: "写真"
          .ShowUser__ItemGroup__ItemBox__Details
            %h3.ShowUser__ItemGroup__Details__Title
              レディース 5足セット
            .ShowUser__ItemGroup__Details__Price
              %p ￥1,100