// 購入確認ページ(川崎が追加)
%html
  %head
    = stylesheet_link_tag 'modules/confirmation'
    = javascript_include_tag 'application'


= render "confirmation-header"

// タイトル
.Main
  .Main__wrapper
    %section.Title-box
      %h1.Title-box__title 購入内容の確認
    
    // 商品の概要
    %section.Outline
      .Outline__inner
        %figure.Outline__inner-imagebox
          = image_tag("pict-reason-01.jpg", alt: "logo", class: "Outline__inner-image")
        .Outline__inner-textbox
          %p.Outline__inner-heading 【即発送可能】スマホ
          %p.Outline__inner-details
            %span.Outline__inner-details--thin 送料込み(税込)
            %span.Outline__inner-details--bold ¥1,700

    // 支払い金額
    %section.Amount
      .Amount__money
        %p 支払い金額
        %p.Amount__money--big ¥1,700
      .Amount__point 
        .Amount__point-box
          %span.Amount__point-box--square
          %p.Amount__point-box--text ポイント
          
        %p.Amount__point-more 所持ポイント : P0

    // 支払い方法
    %section.Payment
      .Payment__inner
        %h2.Payment-way 支払い方法
        = link_to new_card_path, class: "Payment-registration" do
          = icon('fas', 'plus-circle')
          %p.Payment-registration__text 登録してください

    // 配送先
    %section.Delivery
      .Delivery__inner
        %h2.Delivery-way 配送先
        = link_to root_path, class: "Delivery-registration" do
          = icon('fas', 'plus-circle')
          %p.Delivery-registration__text 登録してください

    // 購入ボタンエリア
    %section.Purchase
      .Purchase__inner
        %p.Purchase__inner-warning  配送先と支払い方法の入力を完了してください
        = form_with url: buy_items_path, method: :post, class: "Purchase__inner-box", local:true do |form|
          = form.hidden_field :buyer_id, value: current_user.id
          = form.submit  value: "購入する",class: "Purchase__inner-btn", type:"submit"


      %h2 購入を確定しますか？
      %br
      %h3 支払い方法
      - if @default_card_information.blank?
        %br /
      - else
        -#以下カード情報を表示
        = "**** **** **** " + @default_card_information.last4
        - exp_month = @default_card_information.exp_month.to_s
        - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
        = exp_month + " / " + exp_year
       
      %br
      = form_tag(action: :pay, method: :post) do
        %button 購入する

= render "confirmation-footer"