!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FleamarketSample79e
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'modules/cards'
    = javascript_include_tag 'application'
    = render 'layouts/notifications'

.Body_Block
  .Wrapper
    = render "side_bar"
    = render "new"
